* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.container{
    margin: auto;
    width: 75%;
}
/* header */
.testata{
    width: 90%;
    margin: auto;
    padding-bottom: 10px;
}
/* sezione pulsanti navigazione */
.navigation_section {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;

}
/* list items */
li {
    display: inline-block;
}
li > a{
    text-decoration: none;
    color: lightgray;
    text-transform: uppercase;
    padding-right: 15px;
}
/* sezione centrale */

.main_section {
    margin: auto;
    width: 90%;
}
.article{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.subtitle{
    color: #979797
}
.yoga_girl{
    height: 650px;
    width: 100%;
    
    object-fit: cover;
    opacity: 0.5;
    background-color: black;
}
.img_container {
    position: relative;
    text-align: left;
}
.bottom_right {
    position: absolute;
    bottom: 80px;
    left: 66px;
    color: white;
    width: 50%;
}
#strong {
    font-size: 40px;
}
/* sezione sidebar */
.sidebar {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
}
.sidebar_general{
    float: left;
}
.sidebar_left{
    width: 22.5%;
}
.central_column {
    width: 40%;
    margin: 0% 7.5%;
}
.sidebar_right {
    width: 22.5%;
}
.text_column{
    margin-top: 10px;
}
.img_sidebar {
    width: 100%;
    height: 175px;
    border-radius: 10px;
    object-fit: cover;
    opacity: 0.5;
}
.backgroundcolor{
    background-color: rgba(204, 204, 204, 1);
    border-radius: 10px;
}

/* footer */
.closing {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}
