* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.container{
    background-color: grey;
    margin: auto;
    height: 1500px;
}
/* header */
.testata{
    width: 90%;
    margin: auto;
    padding-bottom: 10px;
}
/* sezione pulsanti navigazione */
.navigation_section {
    width: 90%;
    margin: auto;
}
/* list items */
li {
    display: inline-block;
}
li > a{
    text-decoration: none;
    color: lightgray;
    text-transform: uppercase;
    padding-right: 10px;
}
/* sezione centrale */
.main_section {
    background-color: red;
    margin: auto;
    width: 90%;
}
article{
    background-color: sandybrown;
    margin: auto;
    width: 90%;
}
#yoga_girl{
    height: 650px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.img_container {
    position: relative;
    text-align: left;
}
.bottom_right {
    position: absolute;
    bottom: 66px;
    left: 66px;
    color: white;
    width: 50%;
}
#strong {
    font-size: 40px;
}
/* sezione sidebar */
.sidebar {
    width: 90%;
    background-color: greenyellow;
    margin: auto;
}
.sidebar_general{
    float: left;
    height: 350px;
    margin: auto;
}
.sidebar_left{
    background-color: green;
    width: 25%;
}
.sidebar_center {
    background-color: white;
    width: 50%;
}
.sidebar_right {
    background-color: red;
    width: 25%;
}
/* footer */
.closing {
    background-color: teal;
    width: 90%;
    margin: auto;
    height: 150px;
}